<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail store of the future RedHat/Intel/SAP</title>
    <link href="/static/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/index-style.css">
</head>

<body>
    <div id="left">
        <h1>Store simulation</h1>
        <div id="browser">
            <div id="bar">
                <span class="dot red"></span>
                <span class="dot yellow"></span>
                <span class="dot green"></span>
            </div>
            <iframe src="/store" frameborder="0"></iframe>
        </div>
    </div>
    <div id="right">
        <h1>Customer's phone simulation</h1>
        <div id="phone">
            <header id="phone-header">
                <section class="left">
                    7:02 AM <i class="bi bi-envelope"></i>
                </section>
                <section class="right">
                    <i class="bi bi-wifi"></i>
                    <i class="bi bi-bar-chart-fill"></i>
                    <i class="bi bi-battery-full"></i> 100%
                </section>
            </header>
            <iframe id="phone-iframe" src="/phone/1" seamless frameborder="0"></iframe>
        </div>
        <select class="form-select" aria-label="Customer selection" id="customer-select">
        </select>
    </div>

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/details.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>