---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: recommendation-service
spec:
  source:
    type: Git
    git:
      uri: 'https://github.com/karol-brejna-i/retailstoreofthefuture.git'
      ref: develop
    contextDir: recommendation-service/
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: 'recommendation-service:latest'
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: recommendation-service
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: prediction-service
spec:
  source:
    type: Git
    git:
      uri: 'https://github.com/karol-brejna-i/retailstoreofthefuture.git'
      ref: develop
    contextDir: prediction-service/
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: 'prediction-service:latest'
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: prediction-service
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: visualization-service
spec:
  source:
    type: Git
    git:
      uri: 'https://github.com/karol-brejna-i/retailstoreofthefuture.git'
      ref: develop
    contextDir: visualization-app/
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: 'visualization-service:latest'
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: visualization-service
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: customer-simulation-service
spec:
  source:
    type: Git
    git:
      uri: 'https://github.com/karol-brejna-i/retailstoreofthefuture.git'
      ref: develop
    contextDir: scenario-player/
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: 'customer-simulation-service:latest'
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: customer-simulation-service
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: cachedb-loader
spec:
  source:
    type: Git
    git:
      uri: 'https://github.com/karol-brejna-i/retailstoreofthefuture.git'
      ref: develop
    contextDir: cachedb-load-data/
  strategy:
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: 'cachedb-loader:latest'
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: cachedb-loader
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: decision-service-build
  name: decision-service-build
spec:
  output:
    to:
      kind: ImageStreamTag
      name: decision-service-build:latest
  source:
    git:
      uri: https://github.com/karol-brejna-i/kogito-mqtt-decision-process-kafka.git
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: S2I_ENABLE_INCREMENTAL_BUILDS
        value: "true"
      - name: S2I_DELETE_SOURCE
        value: "false"
      from:
        kind: DockerImage
        name: registry.redhat.io/ubi8/openjdk-11
    type: Source
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: decision-service-build
spec:
  lookupPolicy:
    local: false
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: image-build
spec:
  output:
    to:
      kind: ImageStreamTag
      name: decision-service:latest
  source:
    images:
    - from:
        kind: ImageStreamTag
        name: decision-service-build:latest
      paths:
      - sourcePath: /tmp/src/.
        destinationDir: "."
  strategy:
    dockerStrategy:
      dockerfilePath: src/main/docker/Dockerfile.jvm
      from:
        kind: DockerImage
        name: registry.access.redhat.com/ubi8/ubi-minimal:8.7
  triggers:
  - imageChange:
      from:
        kind: ImageStreamTag
        name: decision-service-build:latest
    type: ImageChange
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: decision-service
spec:
  lookupPolicy:
    local: false