@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    font-family: 'Nunito', sans-serif;
}

.float-right {
    display: block;
    float: right;
}

.pin-btn {
    width: calc(50% - 4px);

    i {
        font-size: 2em;
    }

    i.move {
        color: rgb(120, 212, 0);
    }

    i.focus {
        color: rgb(214, 122, 29);
    }
}

#templates {
    display: none;
}

header {
    // border-bottom: 1px solid rgb(204, 204, 204);

    .row .center {
        font-size: 2em;
    }

    img {
        height: 35px;
    }
}

.nav-tabs {
    margin-top: 20px;

    button:first-of-type {
        margin-left: 3%;
    }

    button {
        width: 47%;
    }
}

#nav-tabSimContent {
    .tab-pane {
        margin: -5px;
        margin-top: 20px;
    }

    ul.list-group {
        height: 400px;
        overflow-y: scroll;

        li.list-group-item {
            margin-left: 14px;
        }
    }
}

main {
    .tab-content .tab-pane>* {
        float: left;
    }

    section.left .plan-container {
        width: 100%;
        position: relative;
        border: 1px solid transparent;

        .proportions {
            margin-top: 73%;
        }

        .store-plan {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('/static/images/store-plan-new.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    aside {
        padding-top: 20px;
    }
}

#nav-phone {
    div#phone {
        width: 250px;
        float: right;
        border-style: solid;
        border-color: black;
        border-top-width: 30px;
        border-bottom-width: 40px;
        padding: 0;
        border-radius: 30px;
        background-color: black;

        iframe {
            width: 100%;
            height: 350px;
            border-radius: 5px;
            // overflow: hidden;
        }
    }
}

.customer-speed {
    .label {
        text-align: right;
    }
}

.assistance-alert {
    button {
        float: right;
        margin-top: 10px;
    }
}
